h1{
	color: #48D1CC;
	text-align: center;
}
h2{
	color: #B0E0E6;
	text-align: center;
	text-decoration: underline;
}
p.note{
    border: thin gray solid;
    margin: 1.5em 6em;
    padding: 0.5em;
    background-color: #FFFF99;
    font-size: 14pt;
    width: 700px;
    font-family: serif;
}
body{
	background-color:lavender ;
}
